[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "vim/bundle/vim-nerdtree-tabs"]
	path = vim/bundle/vim-nerdtree-tabs
	url = git@github.com:jistr/vim-nerdtree-tabs.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = git@github.com:tpope/vim-markdown.git
[submodule "vim/bundle/cucumber"]
	path = vim/bundle/cucumber
	url = git@github.com:tpope/vim-cucumber.git
[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = git@github.com:bling/vim-airline.git
[submodule "vim/bundle/puppet"]
	path = vim/bundle/puppet
	url = git@github.com:rodjek/vim-puppet.git
[submodule "vim/bundle/jinja2"]
	path = vim/bundle/jinja2
	url = git@github.com:Glench/Vim-Jinja2-Syntax.git
[submodule "vim/bundle/less"]
	path = vim/bundle/less
	url = git@github.com:groenewege/vim-less.git
[submodule "vim/bundle/coffeescript"]
	path = vim/bundle/coffeescript
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "vim/bundle/gist"]
	path = vim/bundle/gist
	url = git@github.com:mattn/gist-vim.git
[submodule "vim/bundle/webapi"]
	path = vim/bundle/webapi
	url = git@github.com:mattn/webapi-vim.git
[submodule "vim/bundle/vim-arduino"]
	path = vim/bundle/vim-arduino
	url = git@github.com:kingbin/vim-arduino.git
[submodule "vim/bundle/baileyjs"]
	path = vim/bundle/baileyjs
	url = git@github.com:relekang/vim-baileyjs.git
[submodule "vim/bundle/jade"]
	path = vim/bundle/jade
	url = https://github.com/digitaltoad/vim-jade.git
